<html>
<head>
  <title></title>
</head>
<body>
<nav>
  <ul>
    <li>
      <a href="/">Nuclear Family</a></li>
    <li><a href="/mom">Mom</a>
    </li>
    <li><a href="/dad">Dad</a> </li>
    <li><a href="/sister">Sister</a></li>
    <li><a href="/me">Me</a></li>
  </ul>
</nav>